In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import stan # python3 -m pip install pystan
import nest_asyncio
nest_asyncio.apply()
import warnings

In [71]:
df = pd.read_csv("Number_Pivoted.csv")
df = df.set_index("Year")
df.head()

,[0],[1-4],[10-14],[15-19],[20-24],[25-29],[30-34],[35-39],[40-44],[45-49],[5-9],[50-54],[55-59],[60-64],[65-69],[70-74],[75-79],[80-84],[85+],[All]
Year,,,,,,,,,,,,,,,,,,,,
2000,163.0,567.0,936.0,5176.0,5264.0,3679.0,3153.0,3549.0,3392.0,2938.0,751.0,2413.0,1890.0,1581.0,1414.0,1583.0,1724.0,1390.0,1276.0,42866.0
2001,140.0,564.0,899.0,5155.0,5465.0,3675.0,3196.0,3522.0,3549.0,3047.0,669.0,2557.0,1915.0,1518.0,1393.0,1571.0,1792.0,1459.0,1209.0,43328.0
2002,122.0,541.0,900.0,5549.0,5760.0,3689.0,3343.0,3441.0,3616.0,3270.0,636.0,2700.0,2005.0,1755.0,1456.0,1615.0,1734.0,1506.0,1264.0,44937.0
2003,146.0,510.0,929.0,5265.0,5678.0,3649.0,3195.0,3293.0,3696.0,3302.0,608.0,2798.0,2252.0,1741.0,1430.0,1533.0,1655.0,1521.0,1337.0,44555.0
2004,140.0,524.0,941.0,5180.0,5726.0,3825.0,3162.0,3195.0,3470.0,3435.0,601.0,2867.0,2287.0,1789.0,1549.0,1414.0,1650.0,1482.0,1242.0,44505.0

In [85]:
data = dict(N=len(df), x=list(range(1, 23)), y=df["[All]"].to_numpy())

In [86]:
file_path = "stan/linear.stan"

# Read the Stan code from the file
with open(file_path, "r") as file:
    stan_code = file.read()
print(stan_code)

warnings.filterwarnings("ignore")

posterior = stan.build(stan_code, data=data)

data {
  int<lower=0> N;
  vector[N] x;
  vector[N] y;
}
parameters {
  real alpha;
  real beta;
  real<lower=0> sigma;
}
model {
  // priors
  alpha ~ normal(42000, 1000);
  beta ~ normal(0, 100);
  sigma ~ cauchy(0, 2.5);

  y ~ normal(alpha + beta * x, sigma);
}
Building...

Building: found in cache, done.Messages from stanc:
Warning in '/tmp/httpstan_pfb_u_73/model_sww5sjly.stan', line 14, column 19: Argument
    100 suggests there may be parameters that are not unit scale; consider
    rescaling with a multiplier (see manual section 22.12).
Warning in '/tmp/httpstan_pfb_u_73/model_sww5sjly.stan', line 13, column 24: Argument
    1000 suggests there may be parameters that are not unit scale; consider
    rescaling with a multiplier (see manual section 22.12).
Warning in '/tmp/httpstan_pfb_u_73/model_sww5sjly.stan', line 13, column 17: Argument
    42000 suggests there may be parameters that are not unit scale; consider
    rescaling with a multiplier (see manual section 22.12).

In [88]:
fit = posterior.sample(num_chains=4, num_samples=1000)
linear_df = fit.to_frame()  # pandas `DataFrame, requires pandas

Sampling:   0%
Sampling:  25% (2000/8000)
Sampling:  50% (4000/8000)
Sampling:  75% (6000/8000)
Sampling: 100% (8000/8000)
Sampling: 100% (8000/8000), done.
Messages received during sampling:
  Gradient evaluation took 2.7e-05 seconds
  1000 transitions using 10 leapfrog steps per transition would take 0.27 seconds.
  Adjust your expectations accordingly!
  Gradient evaluation took 1.5e-05 seconds
  1000 transitions using 10 leapfrog steps per transition would take 0.15 seconds.
  Adjust your expectations accordingly!
  Gradient evaluation took 1.8e-05 seconds
  1000 transitions using 10 leapfrog steps per transition would take 0.18 seconds.
  Adjust your expectations accordingly!
  Gradient evaluation took 2e-05 seconds
  1000 transitions using 10 leapfrog steps per transition would take 0.2 seconds.
  Adjust your expectations accordingly!

In [89]:
linear_df

parameters,lp__,accept_stat__,stepsize__,treedepth__,n_leapfrog__,divergent__,energy__,alpha,beta,sigma
draws,,,,,,,,,,
0,-199.505789,0.638995,0.740991,2.0,7.0,0.0,200.920696,41323.717689,-33.869809,3739.461260
1,-199.188098,1.000000,0.529268,3.0,7.0,0.0,199.811661,41709.332792,-117.464633,4073.802875
2,-200.797582,0.871396,0.510998,2.0,3.0,0.0,201.547896,42163.973092,-38.696030,4576.619648
3,-200.901735,0.955926,0.637700,2.0,3.0,0.0,201.117487,41289.655129,-85.764976,5020.467945
4,-199.522251,0.967407,0.740991,2.0,3.0,0.0,200.177823,41325.840144,-96.155327,4262.555482
...,...,...,...,...,...,...,...,...,...,...
3995,-198.997852,0.913354,0.637700,1.0,3.0,0.0,200.198610,41725.832344,-118.036549,3879.283427
3996,-199.487049,0.865277,0.740991,3.0,7.0,0.0,200.023735,42046.151293,-140.845096,4182.511761
3997,-199.510599,0.988443,0.529268,2.0,3.0,0.0,199.728640,40985.556149,-72.093733,4033.455751
3998,-200.447087,0.893042,0.510998,2.0,7.0,0.0,203.152443,40447.899902,-74.978572,3789.887928
3999,-199.906835,0.841533,0.637700,2.0,7.0,0.0,201.571236,41685.272223,-69.686820,3120.311275

In [92]:
df.head()

,[0],[1-4],[10-14],[15-19],[20-24],[25-29],[30-34],[35-39],[40-44],[45-49],[5-9],[50-54],[55-59],[60-64],[65-69],[70-74],[75-79],[80-84],[85+],[All]
Year,,,,,,,,,,,,,,,,,,,,
2000,163.0,567.0,936.0,5176.0,5264.0,3679.0,3153.0,3549.0,3392.0,2938.0,751.0,2413.0,1890.0,1581.0,1414.0,1583.0,1724.0,1390.0,1276.0,42866.0
2001,140.0,564.0,899.0,5155.0,5465.0,3675.0,3196.0,3522.0,3549.0,3047.0,669.0,2557.0,1915.0,1518.0,1393.0,1571.0,1792.0,1459.0,1209.0,43328.0
2002,122.0,541.0,900.0,5549.0,5760.0,3689.0,3343.0,3441.0,3616.0,3270.0,636.0,2700.0,2005.0,1755.0,1456.0,1615.0,1734.0,1506.0,1264.0,44937.0
2003,146.0,510.0,929.0,5265.0,5678.0,3649.0,3195.0,3293.0,3696.0,3302.0,608.0,2798.0,2252.0,1741.0,1430.0,1533.0,1655.0,1521.0,1337.0,44555.0
2004,140.0,524.0,941.0,5180.0,5726.0,3825.0,3162.0,3195.0,3470.0,3435.0,601.0,2867.0,2287.0,1789.0,1549.0,1414.0,1650.0,1482.0,1242.0,44505.0

In [114]:
df_sep = df.drop("[All]", axis=1).T
df_sep.shape

(19, 22)

In [129]:
data_sep = dict(
    N = 19,
    Y = 22,
    accidentData = df_sep.values)

In [ ]:
file_path = "stan/separate.stan"

# Read the Stan code from the file
with open(file_path, "r") as file:
    stan_code = file.read()
print(stan_code)

warnings.filterwarnings("ignore")

posterior = stan.build(stan_code, data=data_sep)

In [131]:
fit = posterior.sample(num_chains=4, num_samples=1000)
separate_df = fit.to_frame()  # pandas `DataFrame, requires pandas

Sampling:   0%
Sampling:   0% (1/8000)
Sampling:   0% (2/8000)
Sampling:   0% (3/8000)
Sampling:   0% (4/8000)
Sampling:   1% (103/8000)
Sampling:   5% (402/8000)
Sampling:   9% (701/8000)
Sampling:  14% (1101/8000)
Sampling:  18% (1400/8000)
Sampling:  22% (1800/8000)
Sampling:  29% (2300/8000)
Sampling:  34% (2700/8000)
Sampling:  55% (4400/8000)
Sampling:  71% (5700/8000)
Sampling:  86% (6900/8000)
Sampling: 100% (8000/8000)
Sampling: 100% (8000/8000), done.
Messages received during sampling:
  Gradient evaluation took 0.000228 seconds
  1000 transitions using 10 leapfrog steps per transition would take 2.28 seconds.
  Adjust your expectations accordingly!
  Gradient evaluation took 0.000126 seconds
  1000 transitions using 10 leapfrog steps per transition would take 1.26 seconds.
  Adjust your expectations accordingly!
  Gradient evaluation took 0.000235 seconds
  1000 transitions using 10 leapfrog steps per transition would take 2.35 seconds.
  Adjust your expectations accordingly!
  Gradient evaluation took 0.000232 seconds
  1000 transitions using 10 leapfrog steps per transition would take 2.32 seconds.
  Adjust your expectations accordingly!

In [132]:
separate_df.describe()

parameters,lp__,accept_stat__,stepsize__,treedepth__,n_leapfrog__,divergent__,energy__,alpha.1,alpha.2,alpha.3,...,mu.10.22,mu.11.22,mu.12.22,mu.13.22,mu.14.22,mu.15.22,mu.16.22,mu.17.22,mu.18.22,mu.19.22
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.0,4000.000000,4000.000000,4000.000000,4000.000000,...,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,-2951.310937,0.919143,0.148284,4.991000,30.924000,0.0,2979.757908,147.987645,543.866224,671.986947,...,579.801868,290.242233,614.563241,674.114778,793.428763,1295.659550,1371.585271,1115.659582,1151.314119,1351.622640
std,5.402711,0.100034,0.009349,0.094452,1.100239,0.0,7.640183,9.349658,18.525324,85.710204,...,244.094047,30.392784,252.550220,258.572453,267.506193,464.524773,283.342706,234.946853,167.946694,64.341004
min,-2976.247597,0.071538,0.139018,4.000000,15.000000,0.0,2955.545914,103.989450,467.352903,366.857444,...,-290.817595,186.660680,-323.781430,-226.327213,-58.100728,71.779001,64.817052,91.039839,259.798305,813.022397
25%,-2954.716558,0.895795,0.139170,5.000000,31.000000,0.0,2974.499331,142.005316,532.228362,616.720179,...,417.051268,269.690697,448.178012,497.468675,609.473665,962.360005,1189.462053,961.246467,1050.468377,1310.983941
50%,-2951.053399,0.950695,0.147037,5.000000,31.000000,0.0,2979.463423,147.742859,544.518434,679.675842,...,579.095633,288.402151,609.725377,673.865097,792.427447,1217.917126,1411.491268,1128.099488,1170.169387,1348.469444
75%,-2947.467024,0.981648,0.156151,5.000000,31.000000,0.0,2984.622894,153.932770,555.638645,734.238929,...,742.988207,309.633150,779.586755,846.386494,976.343413,1564.566901,1583.049945,1282.923220,1268.923256,1389.374958
max,-2936.527307,1.000000,0.160046,5.000000,31.000000,0.0,3016.116446,186.721582,620.017546,900.909713,...,1502.479862,466.088180,1666.728978,1522.552514,1688.747140,2448.552094,2025.626184,1745.689824,1650.901134,1618.856107