In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [67]:
df = pd.read_csv("data.csv", header=5, index_col=0)
df = df.shift(axis=1)
df.head(10)

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
EU,None,Europe,ALB,Albania,1987,All,Age_unknown,[Unknown],0.0,NaN,NaN,NaN
EU,None,Europe,ALB,Albania,1987,All,Age85_over,[85+],2.0,0.089847,NaN,20.000000
EU,None,Europe,ALB,Albania,1987,All,Age80_84,[80-84],0.0,0.000000,NaN,0.000000
EU,None,Europe,ALB,Albania,1987,All,Age75_79,[75-79],6.0,0.283688,NaN,19.480519
EU,None,Europe,ALB,Albania,1987,All,Age70_74,[70-74],9.0,0.498339,NaN,22.058824
EU,None,Europe,ALB,Albania,1987,All,Age65_69,[65-69],8.0,0.578453,NaN,12.364760
EU,None,Europe,ALB,Albania,1987,All,Age60_64,[60-64],8.0,0.755430,NaN,10.335917
EU,None,Europe,ALB,Albania,1987,All,Age55_59,[55-59],17.0,2.096178,NaN,17.137097
EU,None,Europe,ALB,Albania,1987,All,Age50_54,[50-54],14.0,2.729045,NaN,11.637573
EU,None,Europe,ALB,Albania,1987,All,Age45_49,[45-49],21.0,5.329949,NaN,14.788732

In [68]:
df = df[df['Country Code'] == 'USA']
df = df[df['Year'] > 2011]
df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
NAC,None,North America and the Caribbean,USA,United States of America,2012,All,Age_unknown,[Unknown],5.0,3.401361,NaN,NaN
NAC,None,North America and the Caribbean,USA,United States of America,2012,All,Age_all,[All],36099.0,1.419388,10.696564,11.494890
NAC,None,North America and the Caribbean,USA,United States of America,2012,All,Age00,[0],69.0,0.292014,NaN,1.724506
NAC,None,North America and the Caribbean,USA,United States of America,2012,All,Age01_04,[1-4],365.0,8.653390,NaN,2.188495
NAC,None,North America and the Caribbean,USA,United States of America,2012,All,Age05_09,[5-9],343.0,14.695801,NaN,1.650384